 $font-001:"Rubik", sans-serif;
 $font-002: 'Verveine', sans-serif;

 $color-white: #FFFFFF;
 $color-border:#D1C8D2;
 $color-001: #8A0D1E;
 $color-002: #DE2E4B;
 $color-003: #F36D8F;
 $color-004: #F59FBD;
 $color-005: #FFADBF;
 $color-006: #CEEFF4;
 $color-007: #FFCE0A;


$sm: 576px;
$md: 768px;
$lg: 992px; //passe mobile
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;


